.mac-book-air-47 {
    color: #000;
    width: 100%;
    height: 100%;
    background-color: #000;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 3.125rem;
    font-weight: 400;
    line-height: 26px;
    display: flex;
  }
  
  .image-30 {
    height: 100%;
    background-image: url("https://cdn.dribbble.com/users/4645455/screenshots/14972351/media/125254ea4e62d579e2a716f904e78481.png");
    background-position: center;
    background-size: cover;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 35px;
    padding-left: 26px;
    display: flex;
  }
  
  .rectangle {
    height: 75%;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50px;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1px;
    padding-top: 26px;
    padding-left: 8px;
    display: flex;
  }
  
  .otp-verification {
    margin-top: 3px;
    margin-bottom: 1px;
    margin-left: 5px;
    font-size: 3.125rem;
    line-height: 65px;
    font-family: Times;
  }
  
  .image-88 {
    background: url("https://cdn0.iconfinder.com/data/icons/cyber-security-solid-threat-protection/512/OTP-512.png");
    width: 128px;
    height: 128px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-top: 1px;
    margin-left: 21px;
  }
  
  .otp-sent-to-91 {
    text-align: center;
    font-family: Times;
    font-size: 20px;
  }
  
  .flex-container {
    text-align: center;
    width: 85%;
    flex-direction: row;
    flex-basis: 14%;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 3px;
    margin-left: 1px;
    font-weight: 700;
    line-height: 65px;
    display: flex;
  }
  
  .rectangle-106 {
    height: 100%;
    width: 50px;
    background: linear-gradient(#ef32d9bf 0%, #89fffdbf 100%);
    border: 3px solid #000;
    border-radius: 25px;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    margin-top: 2px;
    padding-top: 2px;
    padding-right: 1px;
    display: flex;
    margin-bottom: -8px;
    font-family: Times;
    font-size: 40px;
  }
  
  .rectangle-107 {
    height: 100%;
    width: 50px;
    background: linear-gradient(#ef32d9bf 0%, #89fffdbf 100%);
    border: 3px solid #000;
    border-radius: 25px;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    margin-top: 2px;
    padding-top: 2px;
    padding-right: 1px;
    display: flex;
    margin-bottom: -8px;
    font-family: Times;
    font-size: 40px;
    margin-left: 10px;
  }
  
  .rectangle-108 {
    height: 100%;
    width: 50px;
    background: linear-gradient(#ef32d9bf 0%, #89fffdbf 100%);
    border: 3px solid #000;
    border-radius: 25px;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    margin-top: 2px;
    padding-top: 2px;
    padding-right: 1px;
    display: flex;
    margin-bottom: -8px;
    font-family: Times;
    font-size: 40px;
    margin-left: 10px;
  }
  
  
  .rectangle-109 {
    height: 100%;
    width: 50px;
    background: linear-gradient(#ef32d9bf 0%, #89fffdbf 100%);
    border: 3px solid #000;
    border-radius: 25px;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    margin-top: 2px;
    padding-top: 2px;
    padding-right: 1px;
    display: flex;
    margin-bottom: -8px;
    font-family: Times;
    font-size: 40px;
    margin-left: 10px;
  }
  
  .didnt-receive-otp-re {
    text-align: center;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 1.25rem;
    font-family: Times;
  }
  
  .rectangle-104 {
    color: #000;
    width: 35%;
    background: linear-gradient(#ef32d9bf 0%, #89fffdbf 100%);
    border: 3px solid #000;
    border-radius: 25px;
    flex-direction: row;
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 4px;
    margin-left: 4px;
    padding-left: 6px;
    font-family: Times;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 39px;
    display: flex;
  }
  
  .confirm {
    margin-left: 3px;
    font-family: Times;
    font-size: 20px;
  }